<div class="goods">
    {% for good in goods %}
        <a href='/cart/good?id={{ good.id }}' class='good p-2 m-2 d-flex flex-column align-items-center'>
            <img src="http://dummyimage.com/120"/>
            <p>{{ good.goodName }}</p>
            <p>{{ good.goodDescription }}</p>
            <p>{{ good.goodPrice }} руб</p>
            <p>Количество : {{ good.goodQuantity }}</p>
        </a>
    {% endfor %}
</div>